<template>
  <div class="dashboard-page">
      <Steps class="steps" :current="stepIndex" direction="vertical">
          <template v-for="(step, index) in steps">
              <Step @click="gotoStep(index)" :content="step.error" v-if="step.error" :key="index" status="error" :title="step.title"></Step>
              <Step @click.native="gotoStep({index})" :content="step.time" v-if="!step.error" :key="index" :title="step.title"></Step>
          </template>
      </Steps>
      <div class="step">
        <label class="invalid step-label" v-if="currentStep.invalid">
          <Icon type="close-circled"></Icon>
          invalid json
        </label>
        <label class="step-label valid" v-if="currentStep.valid">
          <Icon type="checkmark-circled"></Icon>
          valid json
        </label>
        <Input class="step-textarea" @on-change="updateJSON" placeholder="Enter json here..." type="textarea" :value="currentStep.json" /></Input>
      </div>
      <div class="operation-menu" v-if="currentStep.json">
        <Button class="tool-button" @click="beautifyJSON" type="primary">Beautify</Button>
        <Button class="tool-button" @click="sortJSON" type="primary">Sort</Button>
        <Button class="tool-button" @click="compressJSON" type="primary">Compress</Button>
      </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'
import { debounce } from '@/utils'
export default {
    computed: {
        ...mapGetters({ currentStep: 'currentStep', stepIndex: 'stepIndex', steps: 'steps' })
    },
    methods: {
        ...mapActions([]),
        ...mapMutations(['addJSON', 'beautifyJSON', 'compressJSON', 'gotoStep', 'sortJSON']),
        updateJSON: debounce(function(e) {
            this.addJSON({ json: e.target.value })
        }, 1000)
    },
    name: 'DashboardPage'
}
</script>
<style>
.invalid {
    color: #ff5500;
}
.step textarea.ivu-input {
    height: 100%;
}
.valid {
    color: #5cb85c;
}
</style>

<style scoped>
.dashboard-page {
    display: flex;
    flex-flow: row nowrap;
    height: calc(100vh - 7em);
    margin: 1em;
}
.operation-menu {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 2em;
}
.step {
    height: 100%;
    position: relative;
    width: 100%;
}
.step-label {
    position: absolute;
    right: 0;
    top: -1rem;
}
.step-textarea {
    height: 90%;
}
.steps {
    margin-right: 5rem;
    max-width: 15rem;
}
.tool-button {
    margin-bottom: 1em;
}
</style>
