<template>
  <div id="app">
    <header>jsontools</header>
    <router-view/>
  </div>
</template>

<script>
export default {
    name: 'App'
}
</script>

<style>
header {
    display: flex;
    flex-flow: row nowrap;
    height: 4em;
    justify-content: center;
}
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    color: #2c3e50;
    margin-top: 1em;
}
</style>
